.Room {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 15%;
}

.Sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ee6e73;
    border-color: #ff6e73;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.LinkDetail {
    color: black;
}

.card {
    width: 100%;
    height: 100%;
}

.card .card-content {
    height: 150px;
}

.hello {
    color: inherit;
    text-align: center;
    width: 100%;
    font-size: 30px;
    transition: 0.3s;
}

.hello:hover {
    opacity: 70%;
}

.brand-logo {
    margin-left: 10px;
}
